.head {
    margin: 0px;
    padding: 0px;
    background-color: crimson;
    text-align: center;
  }
  
.container {
    display: flex;
    margin-bottom: 0px;
    padding: 20px;
    font-size: 40px;
    background-color: beige;
  
  }
  
.questions {
    font-size: 38px;
    width: 700px;
    height: 500px;
    background-color: aqua;
  }
  
.side {
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 50px;  
    background-color: yellow;
  }

  #answerA, #answerB, #answerC, #answerD {
    display: block;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 50px;  
    background-color: white;
  }

  #answerA:hover, #answerB:hover, #answerC:hover, #answerD:hover {
    background-color: yellow;
  }

  footer {
    margin: 20px;
    padding: 20px;
    background-color: crimson;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
  }