
.head {
    margin: 0px;
    padding: 0px;
    background-color: crimson;
    text-align: center;
  }

  
.container {
  display: flex;
    margin-bottom: 0px;
    padding: 20px;
    font-size: 40px;
    background-color: beige;
    justify-content: center;
  }
  
.scoreinput {
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 50px;
    background-color: crimson;
    text-align: center;
    font-size: 20px;
  }
  
.side {
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 50px;  
    background-color: yellow;
  }

  .btn-answers {
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    background-color: yellow;
  }

  #question {
    text-align: center;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    background-color: rgb(109, 29, 228);
  }

  footer {
    margin: 0px;
    padding: 0px;
    background-color: crimson;
    display: wrap;
    justify-content: center;
    font-size: 20px;
  }

  #start-btn {
    margin: 25px;
    padding: 50px;
    width: 200px;
    background-color: rgb(168, 230, 23);
    font-size: 20px;
  }

  #start-btn:hover {
    background-color: rgb(6, 2, 23);
    color: rgb(168, 230, 23);
  }

  .answer-btn {
    display: flex;
    margin-bottom: 5px;
    width: 100%;
    justify-content: center;
  }

  .answer-btn:hover {
    background-color: rgb(6, 2, 23);
    color: rgb(168, 230, 23);
  }
